@media only screen and (max-width : 640px) {
  .container {
    width: 100%;
    padding: 0;
  }

  body {
      width: 100%;
  }

.menu-principal {
  width: 640px;
}
.menu-principal ul li {
    display: inline;
    padding: 10px 15px;
}


.menu-principal ul {
  display: flex;
}

.logo {
  left: 0px;
bottom: 10px;
}

.delete {
  display: none !important;
}

header {
  padding: 0;
}
h1 {
font-size: 3rem;
font-weight: 800;
margin: 25px;
margin-top: 70px;
position: absolute;
}
header p {
    font-size: 1.5rem;
    position: absolute;
    top: 130px;
    padding-left: 20px;
}

.btn {
  top: 160px;
  left: 50px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


h2 {
  text-align: center;
  font-size: 2rem;
}
section.avantage div.art {
  display: flex;
  flex-direction: column;
}
.promo {
  display: flex;
  flex-direction: column;
height: 400px;
}

section article {
  display: flex;
  flex-direction: column;
}

section article img {
    height: 200px;
    width: 100%;
}
.products-row .product {

  margin-right: 30px;
}
.product-body p.price {
  margin-left: 0px;
}

.btn-2 {
  padding: 10px 35px;
  margin: 25px 50px;
}

.promo div {
    height: 175px;
}
.promo h2 {
  padding-top: 0px;
}

#color {
    margin: 20px;
    padding-top: 0px;
}

#place {
  padding-top: 30px;
}

footer section div {
  width: auto;
    margin: 5px;
    margin-bottom: 20px;
}
footer div a {
  padding: 5px;
}
